body {
    margin: 60px auto;
    width: 80%;
}
a {
    text-decoration: none;
    color: #00008B;
}
a:hover {
    text-decoration: underline;
    color: #999999;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
nav {
    float: left;
    height: 100%;
    width: 20%;
}
nav ul {
    list-style: none;
}
nav a {
    display: block;
    width: 6em;
    height: 2em;
}
.button {
    background: #4479BA;
    color: #FFF;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
    border-radius: 0.25em;
}
.content {
    width: 80%;
    float: left;
}
