/*Page width, margins, height, etc.*/
body {
    margin: auto;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}
/*Headings*/
h1, h2, h3 {
    font-family: "Century Gothic",futura,"URW Gothic L",Verdana,sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
}
h1.underline {
    background: url('../images/hr5.png') no-repeat left bottom;
    padding: 0.5em;
}
/*links*/
a {
    text-decoration: none;
    color: #00008B;
}
a:hover {
    text-decoration: underline;
    color: #999999;
}
/*Blog list*/
ul.postlist li {
    list-style: none;
    padding-left: 1vw;
    padding-right: 1vw;
}
/*navigation bar on left*/
nav {
    float: left;
    height: 100%;
    width: 15%;
}
nav ul {
    list-style: none;
}
nav ul li {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
}
nav a {
    display: block;
    width: 80%;
    height: 1.75em;
    padding-right: 1vw;
}
nav a:hover {
    text-decoration: none;
    color: #ffffff;
}
.button {
    background: #215791;
    color: #FFF;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
    border-radius: 0.25em;
    margin: 0.10em;
}
.button:hover {
    background: #6EA6E1;
}
/*content*/
.content {
    width: 85%;
    float: left;
    font-family: Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
}
p {
    padding-left: 1vw;
    padding-right: 1vw;
}
/*Blog post content*/
.post {
    width:80%;
    float: left;
}
/*header*/
header {
    background: url('../images/header5.png') repeat-x bottom;
    width: 100%;
    height: 1em;
    padding-top: 4em;
    padding-bottom: 7em;
    padding-left: 2em;
    padding-right: 2em;
}
/*footer*/
footer {
    width: 100%;
    height: 2em; 
    background: #215791;
    clear: both;
    position: relative;
}
