body {
    margin: 60px auto;
    width: 70%;
}
a {
    text-decoration: none;
    color: #00008B;
}
a:hover {
    text-decoration: underline;
    color: #999999;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
nav.ul li {
    list-style: none;
}
