<footer>
  <ul>
    <li><a href="http://www.imls.gov/" target="blank"><img class="partners" src="/_images/imls.jpg"></a></li>
    <li><a href="https://www.lib.purdue.edu/" target="blank"><img class="partners" src="/_images/pulib.png"></a></li>
    <li><a href="https://www.lib.umn.edu/" target="blank"><img class="partners" src="/_images/umn.jpg"></a></li>
    <li><a href="http://library.uoregon.edu/" target="blank"><img class="partners" src="/_images/uo.jpg"></a></li>
    <li><a href="https://www.library.cornell.edu/" target="blank"><img class="partners" src="/_images/cornell.jpg"></a></li>
  </ul>
</footer>
