<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/partners">CV</a>Partners</li>
	        		<li><a href="/materials">Materials</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/symposium">Symposium</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
				{{ content }}
			</div>
			<footer>

			</footer>
		</body>
	</html>
