<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
				<a href="/"></a><img src="../images/dil12.png" alt="Data Information Literacy"></a>
			</header>
			<nav>
	    		<ul>
	        		<li><a href="/" class="button">Home</a></li>
	        		<li><a href="/blog" class="button">News</a></li>
		        	<li><a href="/about" class="button">About</a></li>
	        		<li><a href="/partners" class="button">Partners</a></li>
	        		<li><a href="/materials" class="button">Materials</a></li>
	        		<li><a href="/publications" class="button">Publications</a></li>
	        		<li><a href="/symposium" class="button">Symposium</a></li>
	        		<li><a href="/book" class="button">Book</a></li>
	        		<li><a href="/casestudies" class="button">Case Studies</a></li>
	        		<li><a href="/links"class="button">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
				{{ content }}
			</div>
			<footer>
			<ul>
				<li><a href="http://www.imls.gov/" target="blank">IMLS</a></li>
			</ul>
			</footer>
		</body>
	</html>
